@import "tailwindcss";

:root {
  /* Brand Colors */
  --primary: #6D4A11;
  --secondary: #DFA64B;
  --accent: #FBE285;
  
  /* Badge Colors */
  --badge-ribbon: var(--secondary);
  --badge-ribbon-text: #ffffff;
  --badge-discount: #ef4444;
  --badge-discount-text: #ffffff;
  --badge-new: #10b981;
  --badge-new-text: #ffffff;
  --badge-sale: #f97316;
  --badge-sale-text: #ffffff;
  
  /* Base Colors */
  --background: #ededed;
  --foreground: #0a0a0a;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  
  --font-sans: var(--font-outfit);
  --font-serif: var(--font-roboto-serif);
  --font-display: var(--font-cinzel);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #0a0a0a;
    --background: #ededed;
  }
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}
.sizer {
  width: 97%;
  max-width: 1200px;
  margin: auto;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.8s ease-out forwards;
  opacity: 0; /* Star invisible */
}

.delay-100 { animation-delay: 100ms; }
.delay-200 { animation-delay: 200ms; }
.delay-300 { animation-delay: 300ms; }
